@keyframes loading {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.loadingContainer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    background: gray;
    z-index: 222223;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 12px solid #fff;
    border-top-color: transparent;
    animation: loading 2s linear infinite;
}
