:root {
    /* colors */
    --colorBlack: #000;
    --colorWhite: #fff;
    --colorOrange: rgb(225, 138, 13);
    --colorGray: rgb(148, 139, 139);
    --colorRed: rgb(224, 21, 21);

    /* sizes */
    --defaultFontSize: 14px;
}
